.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}
.popup-box {
  background: white;
  padding: 20px 25px;
  border-radius: 6px;
  text-align: center;
  width: 280px;
}
.popup-box button {
  margin-top: 12px;
  padding: 8px 14px;
  background-color: #667eea;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}