@if (currentUser) {
<div class="container">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    @for (role of currentUser.roles; track role) {
    <li>{{ role }}</li>
    <li>
      <a href="/change">Change Password</a>
    </li>
    }
  </ul>
</div>
} @else {
<p>Please login.</p>
}
@if (showPasswordPopup) {
  <div class="popup-overlay">
    <div class="popup-box">
      <p>Your password is older than 10 days.</p>
      <button (click)="goToChangePassword()">Change Password</button>
    </div>
  </div>
}